<a href="https://colab.research.google.com/github/RaghadQadah/Automatic-Spam-Review-Detection/blob/main/featureExtraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
from nltk.stem.porter import PorterStemmer

import matplotlib.pyplot as plt
import seaborn as sns
import re
#nltk.download('stopwords') for downloading first time uncomment this one
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score
from collections import Counter
nltk.download('stopwords')
import pickle
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
def word_count(df, text, name):
    df[name] = df[text].apply(lambda x: len(str(x).split(" ")))
    return df

def hashtags_count(df, text, name):
    df[name] = df[text].apply(lambda x: len([x for x in  str(x).split() if x.startswith('#')]))
    return df

def user_mentions_count(df, text, name):
    df[name] = df[text].apply(lambda x: len([x for x in  str(x).split() if x.startswith('@')]))
    return df

def numerics_count(df, text, name):
    df[name] = df[text].apply(lambda x: len([x for x in  str(x).split() if x.isdigit()]))
    return df

def links_count(df, text, name):
    df[name] = df[text].apply(
        lambda x: len([x for x in  str(x).split() if x.startswith(('httP', 'HTTPS', 'https', 'www', 'WWW', 'HTTP', 'http')) ]))
    return df

def clean(df, text, name):
    df[name] = df[text].str.lower()
    df[name] = df[name].str.replace('http\S+|www.\S+', '', case=False)
    df[name] = df[name].str.replace('[^\w\s]', '')
    df[name] = df[name].str.replace('\d+', '')
    df[name] = df[name].apply(lambda x: ' '.join([word for word in  str(x).split() if word not in (stop)]))
    df[name] = df[name].apply(lambda x: " ".join(x for x in  str(x).split() if len(x) > 3))
    return df

In [ ]:
df = pd.read_csv("drive/My Drive/Output.csv",encoding='latin1',low_memory=False)
list_of_rows = [list(row) for row in df.values]

links_count(df,"reviewContent","linksCount")
hashtags_count(df, "reviewContent", "hashtagsCount")
user_mentions_count(df, "reviewContent", "userMentionsCount")
numerics_count(df,"reviewContent","numericsCount")


clean(df, "reviewContent", "cleanContent")
word_count(df, "cleanContent", "wordCount")

                      reviewID  ... wordCount
0       ---2eJpQ2HAnRQRp2v7XLA  ...        70
1       --0gvJ0LlByoUsFi6x4eEQ  ...        10
2       --1PwTt0AfyPG1pE7bB6Nw  ...        28
3       --87QVdPvgbDK3GeVxFRzg  ...        62
4       --99ZJoVHP32iSd4i4nlZw  ...        73
...                        ...  ...       ...
115472  __xtQo5KPZwjoK5JVN7Tqg  ...        44
115473  __yfM8bFN54IlsQ7EbF_vg  ...        43
115474  __YLqReNU93Tg5b4-Iwbow  ...        19
115475  __YyIjBlNi33ZN-QynruNw  ...        27
115476  ___N08EhO73F-kDk7ORi7w  ...        66

[115477 rows x 16 columns]

In [ ]:
# from sklearn.feature_extraction.text import CountVectorizer
# vectorizer = CountVectorizer(max_features=1500, min_df=5, max_df=0.7, stop_words=stopwords.words('english'))
# X = vectorizer.fit_transform(df["cleanContent"]).toarray()
# print(X[0])

from sklearn.feature_extraction.text import TfidfVectorizer
tfidfconverter = TfidfVectorizer(max_features=1500, min_df=5, max_df=0.7, stop_words=stopwords.words('english'))
X = tfidfconverter.fit_transform(df["cleanContent"]).toarray()
print(X)

[[0.11665971 0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.17892585 0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

In [ ]:
dateList=[]
for word in list_of_rows:
    if "Update" in str(word[5]):
        dateList.append(1)
    else:
        dateList.append(0)

extremeRating=[]
for rating in list(df["rating"]):
    if rating == 5 or rating == 1:
        extremeRating.append(1)
    else:
        extremeRating.append(0)

reviewLengthSpam=[]
for c in df['reviewCount']:
    if c>150:
        reviewLengthSpam.append(0)
    else:
        reviewLengthSpam.append(1)



dict = {'UpdateOrNot': dateList,
       'NumberOfURLs': list(df["linksCount"]),
       'NumberOfnumerics': list(df["numericsCount"]),
       'extremeRating':extremeRating,
       'firstCount':list(df["firstCount"]),
       'reviewLengthSpam':reviewLengthSpam,
       'usefulCount':list(df['usefulCount']),
       'Filtered':list(df["Filtered"])
        }


df1 = pd.DataFrame(dict)
df1.to_csv('Data.csv',index=False)
df1.head()

   UpdateOrNot  NumberOfURLs  ...  usefulCount  Filtered
0            0             0  ...            5       0.0
1            1             0  ...            2       0.0
2            0             0  ...            0       0.0
3            0             0  ...            0       0.0
4            0             0  ...            0       0.0

[5 rows x 8 columns]